 <div class="container py-5 border-top border-bottom">
    <div class="row align-items-center">
        <div class="col-md-8">
        <h2 class="fw-bold">
          <span class="text-dark">This First Heading</span> 
          <span class="text-secondary">Will Catch Your Eye</span>
        </h2>
        <p class="text-secondary mt-3">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../assets/img/1.jpg" alt="Avatar" class="rounded-circle img-fluid shadow-sm">
      </div>